.landing3 {
    background: #3a5533;
    padding: 50px;
    overflow-x: hidden;
    scrollbar-width: none;
    display: -webkit-inline-box;

    /* justify-content: center; */


  }
  
  .curved-edge, .curved-edge2 {
    --c: 10rem;
    display: block;
    height: 70vh;
    width: 30vw;
    margin-top: 10vh;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    
  }
  
  
  .curved-edge {
    background-image: url("../Images/pexels-pixabay-532803.jpg");
    mask: radial-gradient(var(--c) 60% at right, #0000 calc(100% - 1px), #000);
    animation: appers1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  
  .curved-edge2 {
    background-image: url("../Images/pexels-lalu-fatoni-228553-732632.jpg");
    mask: radial-gradient(var(--c) 60% at left, #0000 calc(100% - 1px), #000);
    margin-left: 90vh;
    animation: appers2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  
  .cloud-image1 {
    position: absolute;
    margin-top: 10rem;
    left: 23%;
    height: 10vh;
    width: 10%;
    transition: all 1s;
    animation: cloud1 infinite 6s ease-in-out;
  }
  
  @keyframes cloud1{
    0% {
      transform: translateX(0px);
    }
    50%{
      transform: translateX(100px);
    }
    100%{
      transform: translateX(0px);
    }
  }
  
  .bagpack1 {
    position: absolute;
    margin-top: 30rem;
    left: 65%;
    height: 200px;
    width: 200px;
    transition: all 1s;
    animation: bagpack1 infinite 6s ease-in-out;
  }
  
  @keyframes bagpack1{
    0% {
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-100px);
    }
    100%{
      transform: translateY(0px);
    }
  }
  
  
  .Landing3-info {
    height: fit-content;
    width:30vw;
    position: relative;
    margin-left: 10vw;
    margin-top: 10vh;

  }
  
  .Landing3-info h1 {
    font-size: 40.45px;
  }
  
  .Landing3-info p {
    margin-top: 20px;
    font-size: 25px;
    color: #020d0b;
  }
  
  .bagpack1:hover {
    transform: translateY(-50px);
  }
  
  .cloud-image1:hover {
    transform: translateX(50px);
  }
  
  @keyframes appers1 {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-500px);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
  }
  
  @keyframes appers2 {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(500px);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
  }

  @media screen and (max-width:768px) {
    .landing3 {
      background: #3a5533;
      padding: 3rem;
      overflow-x: hidden;
  
    }
    
    .curved-edge{
      --c: 5rem;
      height: 70vh;
      width: 40vw;
      margin-top: 10vh;
      aspect-ratio: 1;
      background-image: url("../Images/pexels-pixabay-532803.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    
    
    .curved-edge {
      mask: radial-gradient(var(--c) 60% at right, #0000 calc(100% - 1px), #000);
      animation: appers1 linear;
      animation-timeline: view();
      animation-range: entry 0% cover 40%;
    }
    
    .curved-edge2 {
      display: none;
    }
    
    .Landing3-info {
      height: fit-content;
      width:50vw;
      position: absolute;
      margin-top: -2rem;
      margin-left: 30vw;
    }
    
    .Landing3-info h1 {
      font-size: 30.45px;
    }
    
    .Landing3-info p {
      margin-top: 20px;
      font-size: 20.45px;
      color: #020d0b;
    }
    
  }
  

  

  @media screen and (max-width:450px) {
    .landing3 {
      background: #3a5533;
      padding: 3rem;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .curved-edge, .curved-edge2{
      display: none;
    }
    
    .Landing3-info {
      height: fit-content;
      width:fit-content;
      /* margin-left: 0%; */
      position: sticky;
      overflow: hidden;

    }
    
    .Landing3-info h1 {
      font-size: 30.45px;
    }
    
    .Landing3-info p {
      margin-top: 20px;
      font-size: 20.45px;
      color: #020d0b;
    }

    .cloud-image1{
      display: none;
    }

    .bagpack1{
      display: none;
    }
    
  }
  