.Navmob{
    height: fit-content;
    background: #fff;
    margin-top: 25em;
    padding: 3rem;

}

.nav{
    display: flex;
    flex-direction: column;
    & li:last-child{
        margin-top: 60vh;
    } 
    
}

.Nav-item{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
    
}

  
.Nav-item:hover {
    background-color: #fff9e9;
    border-radius: 50px;
  }
  
  form input[type=text] {
    margin-top: 1rem;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 100%;
    border-radius: 20px;
    background: #fff9e9;
  }
  
  form button {
    width: 20%;
    border-radius: 50%;
    padding: 5px;
    color: black;
    font-size: 17px;
    margin-left: -15%;
    cursor: pointer;
  }
  
  form::after {
    content: "";
    clear: both;
    display: table;
  }
  